include LICENSE
include README.md
recursive-include blueprints *.py
recursive-include blueprints/locale *.mo
recursive-include blueprints/static *
recursive-include blueprints/templates *
include blueprints/swagger.json

recursive-exclude testauth *.*
recursive-exclude blueprints/tests *.*
